<div class="tree">
  <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: treeData }"></ng-container>
</div>
<ng-template #nodeTemplate let-node>
  <div class="node">
    <div class="key">{{ node.tag }} ( {{ node.name }} )</div>
    <div class="children" *ngIf="node.child">
      <ng-container *ngFor="let child of node.child">
        <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: child }"></ng-container>
      </ng-container>
    </div>

    <div class="value" *ngIf="node.child.length == 0">{{ node.value }}</div>
  </div>
</ng-template>