<div class="container-1">
  <div class="sidebar">
    <textarea [(ngModel)]="tlv" (keydown)="onSubmitTlv($event)" type="text" rows="10"
      placeholder="Enter TLV string here (Press enter to submit)">
    </textarea>

    <div class="container-2">
      <div class="container-2-options">
        <button class="submit-tlv-button" (click)="onRemoveTlv()">
          Remove All
        </button>
      </div>

      <div class="container-3">
        <p class="tlv-list" *ngFor="let tlv of tlvHistory.reverse()" (click)="onItemClick( tlv)">
          {{ tlv }}
        </p>

      </div>
    </div>

  </div>

  <app-tree-chart *ngIf="tlvNodes != null" class="tlv-diagram" [tlvString]="tlvString" [treeData]="tlvNodes" />



</div>